<section class="coffee-moments">
  <div class="container coffee-mometns-container">
    <h1 class="coffee-moments-title">COFFEE MOMENTS</h1>
    <p class="coffee-moments-subtitle">
      Experience the warmth and community of CoffeeJoy.
    </p>

    <ul class="coffee-moments-gallery">
      <li class="div">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="/img/cart1.jpg 1x, /img/cart1@2x.jpg 2x"
          />
          <source
            media="(min-width: 768px)"
            srcset="/img/cart1.jpg 1x, /img/cart1@2x.jpg 2x"
          />

          <img
            class="gallery-img"
            src="/img/cart1.jpg 1x, /img/cart1@2x.jpg 2x"
            alt="Banking app"
          />
        </picture>
        <div class="overlay">
          <p class="overlay-text">Morning Energy</p>
          <div class="overlay-steam"></div>
        </div>
      </li>

      <li class="div">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="/img/cart2.jpg 1x, /img/cart2@2x.jpg 2x"
          />
          <source
            media="(min-width: 768px)"
            srcset="/img/cart2.jpg 1x, /img/cart2@2x.jpg 2x"
          />

          <img
            class="gallery-img"
            src="/img/cart2.jpg 1x, /img/cart2@2x.jpg 2x"
            alt="Coffee pot and croissant"
          />
        </picture>
        <div class="overlay">
          <p class="overlay-text">Fresh Aroma</p>
          <div class="overlay-steam"></div>
        </div>
      </li>

      <li class="div">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="/img/cart3.jpg 1x, /img/cart3@2x.jpg 2x"
          />
          <source
            media="(min-width: 768px)"
            srcset="/img/cart3.jpg 1x, /img/cart3@2x.jpg 2x"
          />

          <img
            class="gallery-img"
            src="/img/cart3.jpg 1x, /img/cart3@2x.jpg 2x"
            alt="Cozy corner with book"
          />
        </picture>
        <div class="overlay">
          <p class="overlay-text">Slow Moments</p>
          <div class="overlay-steam"></div>
        </div>
      </li>

      <li class="div">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="/img/cart4.jpg 1x, /img/cart4@2x.jpg 2x"
          />
          <source
            media="(min-width: 768px)"
            srcset="/img/cart4.jpg 1x, /img/cart4@2x.jpg 2x"
          />

          <img
            class="gallery-img"
            src="/img/cart4.jpg 1x, /img/cart4@2x.jpg 2x"
            alt="Making coffee"
          />
        </picture>
        <div class="overlay">
          <p class="overlay-text">Crafted with Love</p>
          <div class="overlay-steam"></div>
        </div>
      </li>

      <li class="div">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="/img/cart5.jpg 1x, /img/cart5@2x.jpg 2x"
          />
          <source
            media="(min-width: 768px)"
            srcset="/img/cart5.jpg 1x, /img/cart5@2x.jpg 2x"
          />

          <img
            class="gallery-img"
            src="/img/cart5.jpg 1x, /img/cart5@2x.jpg 2x"
            alt="Coffee shop interior"
          />
        </picture>
        <div class="overlay">
          <p class="overlay-text">CoffeeJoy Space</p>
          <div class="overlay-steam"></div>
        </div>
      </li>

      <li class="div">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="/img/cart6.jpg 1x, /img/cart6@2x.jpg 2x"
          />
          <source
            media="(min-width: 768px)"
            srcset="/img/cart6.jpg 1x, /img/cart6@2x.jpg 2x"
          />

          <img
            class="gallery-img"
            src="/img/cart6.jpg 1x, /img/cart6@2x.jpg 2x"
            alt="Two cups outside"
          />
        </picture>
        <div class="overlay">
          <p class="overlay-text">Together Time</p>
          <div class="overlay-steam"></div>
        </div>
      </li>

      <li class="div">
        <picture>
          <source
            srcset="/img/cart7.jpg 1x, /img/cart7@2x.jpg 2x"
            media="(min-width: 1440px)"
          />
          <source
            srcset="/img/cart7-tablet.jpg 1x, /img/cart7@2x-tablet.jpg 2x"
            media="(min-width: 768px)"
          />
          <img
            class="gallery-img"
            src="/img/cart7.jpg"
            srcset="/img/cart7.jpg 1x, /img/cart7@2x.jpg 2x"
            alt=""
          />
        </picture>
        <div class="overlay">
          <p class="overlay-text">On the Go</p>
          <div class="overlay-steam"></div>
        </div>
      </li>
    </ul>
  </div>
</section>
