<footer class="footer">
  <div class="container">
  <div class="footer-container">
    <div class="footer-branding">
      <a href="./index.html" class="footer-logo-link">
        <img src="/img/company-logo.svg" alt="логотип" class="footer-logo" />
      </a>
      <div class="social-media">
        <ul class="social-media-list">
          <li class="icon-footer">
            <a
              href="https://www.facebook.com/"
              target="_blank"
              title="Facebook"
            >
              <svg width="24" height="24" class="icon-footer">
                <use href="/img/icons.svg#icon-Facebook"></use>
              </svg>
            </a>
          </li>
          <li class="icon-footer">
            <a
              href="https://www.instagram.com/"
              target="_blank"
              title="Instagram"
            >
              <svg width="24" height="24" class="icon-footer">
                <use href="/img/icons.svg#icon-Instagram"></use>
              </svg>
            </a>
          </li>
          <li class="icon-footer">
            <a href="https://x.com/" target="_blank" title="X">
              <svg width="24" height="24" class="icon-footer">
                <use href="/img/icons.svg#icon-X"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <nav class="footer-links">
      <ul class="footer-links-list">
        <li class="footer-item">
          <a class="footer-link" href="#hero">About us</a>
        </li>
        <li class="footer-item">
          <a class="footer-link" href="#benefits">Benefits</a>
        </li>
        <li class="footer-item">
          <a class="footer-link" href="#gallery">Gallery</a>
        </li>
        <li class="footer-item">
          <a class="footer-link" href="#testimonials">Testimonial</a>
        </li>
        <li class="footer-item">
          <a class="footer-link" href="#location">Location</a>
        </li>
      </ul>
    </nav>
  </div>
  <p class="footer-rights">© 2025 CoffeeJoy. All rights reserved.</p>
  </div>
</footer>
