<footer>
  <section>
    <a href="../index.html">
      <svg>
        <use href="../img/Company Logo.svg"></use>
      </svg>
    </a>
    <div>
      <ul>
        <li>
          <a href="https://www.facebook.com/">
            <svg>
              <use href="../img/icons.svg#icon-Facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/   ">
            <svg>
              <use href="./img/icons.svg#icon-Instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://x.com/">
            <svg>
              <use href="./img/icons.svg#icon-X"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div>
      <ul>
        <li>
          <p><a href="">About us</a></p>
        </li>
        <li>
          <p><a href="">Benefits</a></p>
        </li>
        <li>
          <p><a href="">Gallery</a></p>
        </li>
        <li>
          <p><a href="">Testimonial</a></p>
        </li>
        <li>
          <p><a href="">Location</a></p>
        </li>
      </ul>
    </div>
  </section>
</footer>
