<footer class="footer container">
  <section class="footer-container">
    <div class="footer-branding">
      <a href="../index.html">
        <svg class="footer-logo" width="84" height="36">
          <use href="/img/Company Logo.svg" class="footer-logo-svg"></use>
        </svg>
      </a>
      <div class="social-media">
        <ul class="social-media-list">
          <li class="facebook">
            <a href="https://www.facebook.com/">
              <svg width="27" height="27">
                <use href="/img/icons.svg#icon-Facebook"></use>
              </svg>
            </a>
          </li>
          <li class="instagram">
            <a href="https://www.instagram.com/   ">
              <svg width="27" height="27">
                <use href="/img/icons.svg#icon-Instagram"></use>
              </svg>
            </a>
          </li>
          <li class="twitter">
            <a href="https://x.com/">
              <svg width="27" height="27">
                <use href="/img/icons.svg#icon-X"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-links">
      <ul class="footer-links-list">
        <li class="footer-link-item">
          <p><a href="#hero">About us</a></p>
        </li>
        <li class="footer-link-item">
          <p><a href="#benefits">Benefits</a></p>
        </li>
        <li class="footer-link-item">
          <p><a href="#gallery">Gallery</a></p>
        </li>
        <li class="footer-link-item">
          <p><a href="#testimonial">Testimonial</a></p>
        </li>
        <li class="footer-link-item">
          <p><a href="#location">Location</a></p>
        </li>
      </ul>
    </div>
  </section>
  <p class="footer-rights">© 2025 CoffeeJoy. All rights reserved.</p>
</footer>
