.footer{
    width: 320px;
    background-color:#B58869 ; 
    padding: 24px 16px;
}

.footer-container{
    background-color: #C29D84;
border: 1px solid #C29D84;
    border-radius: 40px;
    

    display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        

        padding: 32px 46px;
}
.footer-logo{
display: flex;
align-items: center;
justify-content: center;
width: 196px;
height: 84px;
margin-bottom: 40px;
}

.social-media-list{
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
}

.footer-links-list{
    display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 32px;
 
}

.footer-link-item{
    font-family: Quicksand, sans-serif;
        font-weight: 400;
        font-size: 16px;
    
    
        line-height: 1.5;
        color: #0B0803;
}


.footer-rights{
    font-family: Quicksand, sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
        color: #0B0803;
        margin-top: 32px;
        display: flex;
        
        justify-content: center;
}

@media screen and (min-width: 768px) {
    
    .footer{
        width: 768px;
        padding: 24px 32px;
    }
    .footer-logo{
        width: 84px;
        height: 36px;
        margin-bottom: 0;
    }
    .footer-container{
        padding-top: 32px;
        padding-bottom: 32px;

        
    }
.footer-branding{
    display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        gap: 40px;
}
    .footer-links-list{
        display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: row;
            gap: 32px;
    }
}