h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin: 0;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

button{
    cursor: pointer;
    border: none;
    padding: 0;
}
address{
    font-style: normal;
}